@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

.routines {
  padding: 1em;
  font-family: 'Libre Baskerville', serif;
}

.routines h2 {
  margin-bottom: .5em;
  padding-bottom: .5em;
  border-bottom: 1px solid grey;
}

.post {
  margin-bottom: 1em;
  max-width: 40em;
  border: solid black 1px;
}

.newRoutineButton{
  margin: .5em;
}
a{
  padding: 2px 4px;
  color: #333333;
  font-weight: bold;
  font-size: 1em;
  color: #8ff;
  background: #333333;
  margin-right: .5em;
}